  <div class="container">
    <div class='directory'>
          {{#each newdirs as |item|}}
            {{directory-item tagName="div" class="user" item=item }}
          {{/each}}
    </div>
  </div>
