{{user-info user=item}}
<div class='user-stat'>
    <span class='label'>Unit</span>
    <span class='value'>
        {{ item.custom_fields.user_field_3 }}
    </span>
</div>
<div class='user-stat'>
    <span class='label'>Phone</span>
    <span class='value'>
        {{ item.custom_fields.user_field_4 }}
    </span>
</div>
<div class='user-stat'>
    <span class='label'>Email</span>
    <span class='value'>
        {{ item.email }}
    </span>
</div>
